<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/blog-usuario.css">
    <link rel="shorcut icon" href="./imagenes/blog.png" type="image/x-icon">
    <title>Blogs</title>
</head>
<body>
    <!--INICIO-SECCION CARRITO DE COMPRAS OVERLAY====================================================================================-->



    <section class="carrito-compras">
        <div class="modal-container" id="modal_container">
            <div class="modal">
                <div class="car-x">
                    <h1 class="text-carrito">Carrito de Compras</h1>
                    <a id="close">
                        <img src="/imagenes/x-gris.png" alt=""></img>
                    </a>
                </div>
                <div class="barra-roja"></div>
                <div class="ordenes-comida">
                </div>

                <div class="confirmar-pedido">
                    <h4>Total del carrito</h4>
                    <div class="barra-roja"></div>
                    <div class="total-carrito">
                        <h1>Subtotal: </h2>
                            <h1 class="precio">$0</h1>
                    </div>
                    <button class="button-confirmar">Confirmar Pedido</button>
                </div>
            </div>
        </div>
    </section>

    <!--FINAL-SECCION CARRITO DE COMPRAS OVERLAY====================================================================================-->


    <!--INICIO-SECCION NAVBAR HEADER====================================================================================-->

    <header>
        <div class="container-inicial">
            <img class="icono-correo" src="/imagenes/correo-electronico.png" alt="icono-correo">
            <h5 class="correo-info">info@ejemplo.com</h5>
            <img class="icono-face-head" src="/imagenes/facebook.png" alt="">
            <img class="icono-twitter-head" src="/imagenes/twitter.png" alt="">
            <img class="icono-insta-head" src="/imagenes/instagram.png" alt="">
            <img class="icono-you-head" src="/imagenes/youtube.png" alt="">
            <a href="/logout"><h5 class="login">Cerrar sesión</h5></a>
        </div>
        <div class="nav-bar">
            <a href="/Iniciouser" class="logo">
                <img src="/imagenes/Logo.png" alt="logoimg">
            </a>
            <nav class="links">
                <a href="/Iniciouser" class="nav-link">Inicio</a>
                <a href="/Blogsuser" class="nav-link">Blogs</a>
                <a href="/Restaurantesuser" class="nav-link">Restaurantes</a>
                <ul class="menu">
                    <li>
                        <a href="/Blogs" class="nav-link">
                            Paginas
                            <img class="flecha-abajo" src="/imagenes/flecha-hacia-abajo-para-navegar.png" alt=""></img>
                        </a>
                        <ul class="submenu">
                            <li><a href="">Contacto</a></li>
                            <li><a href="">Terminos y condiciones</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="/perfil/<%- name %>">
                    <img class="img-profile" src="/uploads/<%- img %>" alt="">
                </a>
                
                <button class="button-carrito" id="open">
                    <img class="icono-carrito" src="/imagenes/carrito-de-compras.png" alt="">
                </button>
                
            </nav>
        </div>
    </header>

<!--FINAL-SECCION NAVBAR HEADER====================================================================================-->

    <% if (user) {%>
    <section class="containter">
        <div class="filtro">
            <div class="filtrar">
                <h1>Filtrar</h1>
                <div>
                    <h2>Populares</h2>
                </div>
                <div>
                    <h2>Recientes</h2>
                </div>
                <div>
                    <h2>Mis publicaciones</h2>
                </div>
                <div>
                    <h2>Mayor numero de corazones</h2>
                </div>
                <div>
                    <h2>Mayor numero de co</h2>
                </div>
            </div>
            <div>
                <form action="/Agregarrecomendacion" method="POST" enctype="multipart/form-data">
                    <div class="input-2">
                        <label for="descproduct" class="form-label">Recomendacion</label>
                        <textarea class="form-control" id="descproduct" rows="5" name="recomendacion"></textarea>
                        <input id="iduser_menu", name="iduser" value="<%- user.idusuarios %>" hidden>
                        <input id="iduser_menu", name="imguser" value="<%- user.user_img %>" hidden>
                        <input id="iduser_menu", name="name" value="<%- user.user_nombre %>" hidden>
                    </div>
                    <div style="display: flex; gap: 10px; padding: 10px 0px;">
                        <button class="agregar-menu" type="submit">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="containerres">
            <div class="wrap">
                <% recom.forEach((user)=>{%>
                <div class="elementores">
                    <div class="datosuser">
                        <img src="/uploads/<%- user.imguser_recomendacion %>" alt="">
                        <div class="contnombrefecha">
                            <div class="nomfe">
                                <h1><%- user.nombreuser_recomendacion %></h1>
                            </div>
                        <h2>Cliente</h2>
                        </div>
                    </div>
                    <h2 class="comentario"><%- user.recomendacion %></h2>
                    <div class="infoelmento">
                        <h2>Comentarios</h2>
                        <div class="horadirec">
                            <div class="conthoradirec">
                                <h2>584</h2>
                                <img src="/imagenes/corazon.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <%})%>
            </div>
        </div>
    </section>
    <%}%>
     <!--INICIO-SECCION FOOTER==================================================================================-->

     <section>
        <footer class="footer-inicial">
            <div class="bar-vacia"></div>
            <div class="footer-info">
                <div class="footer-info1">
                    <a href="/Iniciouser"><img src="./imagenes/Logo.png" alt=""></a>
                    <h6>Lorem ipsum dolor sit amet <br>consectetur adipiscing elit orci <br>porttitor, mattis arcu.</h6>
                </div>
                <div class="footer-info2">
                    <h1>Enlace rápido</h1>
                    <a href="/Iniciouser"><h6>Inicio</h6></a>
                    <a href="/Restaurantesuser"><h6>Todos los restaurantes</h6></a>
                    <a href=""><h6>Contacto</h6></a>
                    <a href="/Blogsuser"><h6>Detalles del Blog</h6></a>
                </div>
                <div class="footer-info3">
                    <h1>Enlace rápido 2</h1>
                    <a href=""><h6>Términos y condiciones</h6></a>
                    <a href=""><h6>Contacto</h6></a>
                </div>
                <div class="footer-info4">
                    <h1>Contacto</h1>
                    <div>
                        <img src="./imagenes/maparojo.png" alt="">
                        <h6>Tr 39 No. 57A-14, C.P 11001</h6>
                    </div>
                    <div>
                        <img src="./imagenes/llamada-telefonica.png" alt="">
                        <h6>+57 312 587 1547</h6>
                    </div>
                    <div>
                        <img src="./imagenes/correo.png" alt="">
                        <h6>info@ejemplo.com</h6>
                    </div>
                </div>
            </div>

            <div class="bar-footerinfo">
                <div class="blogs-textcopy">
                    <h6 class="text-redcopy">Copyright © 2023 </h6>
                    <h6 class="text-redcopy2">Yum</h6>
                    <h6 class="text-redcopy3">. Todos los derechos reservados.</h6>
                </div>
                <div class="blogs-iconosfoot">
                    <a href=""><img class="icono-face-head" src="./imagenes/facebook.png" alt=""></a>
                    <a href=""><img class="icono-twitter-head" src="./imagenes/twitter.png" alt=""></a>
                    <a href=""><img class="icono-insta-head" src="./imagenes/instagram.png" alt=""></a>
                    <a href=""><img class="icono-you-head" src="./imagenes/youtube.png" alt=""></a>
                </div>
            </div>

        </footer>
    </section>

</body>
</html>